extends layout

block content
  form
    textarea(id='message', name='message')
    input(id='submit', type='button', value='submit')
  ul(id='list')
    each val in messages
      if val
        li= val
