doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-2.0.3.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/message.js')
  body
    block content
